	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/11/2018 19:26
  	*/

@font-face {
font-family: "Flaticon";
src: url("../fonts/Flaticon.eot");
src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-shopping-cart:before {
    content: "\f101";
}
.flaticon-stopwatch:before {
    content: "\f102";
}
.flaticon-user-experience:before {
    content: "\f103";
}
.flaticon-pin:before {
    content: "\f104";
}
.flaticon-puzzle:before {
    content: "\f105";
}
.flaticon-magnifier:before {
    content: "\f106";
}
.flaticon-repairing-service:before {
    content: "\f107";
}
.flaticon-communication:before {
    content: "\f108";
}
.flaticon-menu:before {
    content: "\f109";
}
.flaticon-line-chart:before {
    content: "\f10a";
}
.flaticon-seo:before {
    content: "\f10b";
}
.flaticon-pie-chart:before {
    content: "\f10c";
}
.flaticon-fluctuation:before {
    content: "\f10d";
}
.flaticon-target:before {
    content: "\f10e";
}
.flaticon-startup:before {
    content: "\f10f";
}
.flaticon-project-management:before {
    content: "\f110";
}
.flaticon-statistics:before {
    content: "\f111";
}
.flaticon-social-media:before {
    content: "\f112";
}
.flaticon-computer:before {
    content: "\f113";
}
.flaticon-3d-modeling:before {
    content: "\f114";
}
.flaticon-award:before {
    content: "\f115";
}
.flaticon-diagram:before {
    content: "\f116";
}
.flaticon-mouse:before {
    content: "\f117";
}
.flaticon-quote:before {
    content: "\f118";
}
.flaticon-call:before {
    content: "\f119";
}
.flaticon-location:before {
    content: "\f11a";
}
.flaticon-statistic:before {
    content: "\f11b";
}
