/* Theme Color */
:root {
  /* #4800ff in decimal RGB */
  --secondary: rgb(49,0,174);
  /* #ab8b40 in decimal RGB */
  --main-color: rgb(46,204,64);


  --main-color-opicity:46,204,64;
  --secondary-opicity:49,0,174;
}