/* Theme Color */
:root {
  /* #bb54e1 in decimal RGB */
  --secondary: rgb(187,84,255);
  /* #14c599 in decimal RGB */
  --main-color: rgb(20,197,153);


  --main-color-opicity:255,126,0;
  --secondary-opicity:20,197,153;
}